<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicinal Herb Identification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Medicinal Herb Identification System</h1>
    <input type="file" id="imageUpload">

    <div id="loading" style="display: none;">🔄 Loading...</div>
    <p id="prediction"></p>
    <p id="benefit"></p>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
